requests
future
nltk
tensorboardX
cython
regex
subword-nmt
editdistance
pyarrow
pylint
#bytedenv
hydra-core
spacy==2.3.1
pytorch_lightning==1.6.0
tokenizers==0.11.6
transformers==4.20.1
huggingface-hub==0.8.1
